* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: "Inter", serif;
}

section{
  margin-top: 30px;
}

h1, h2{
  font-family: "Permanent Marker", serif;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.badge{
  cursor: pointer;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}

.square-badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  gap: 5px;
}

.pill-badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5px 0;
  gap: 5px;
}

.pill-badges span{
  border-radius: 30px;
}

.gray{
  background-color: #f3f4f6;
  color: #1f2937;
}
.red{
  background-color: #fee2e2;
  color: #991b1b;
}

.yellow{
  background-color: #fef3c7;
  color: #92400e;
}

.green{
  background-color: #d1fae5;
  color: #065f46;
}

.blue{
  background-color: #dbeafe;
  color: #1e40af;
}

.indigo{
  background-color: #e0e7ff;
  color: #3730a3;
}

.purple{
  background-color: #ede9fe;
  color: #5b21b6;
}

.pink{
  background-color: #fce7f3;
  color: #9d174d;
}

.success{
  background-color: #ecfdf5;
  color: #065f46;
}

.success .icon{
  color: #34d399;
}

.warning{
  background-color: #fffbeb;
  color: #b45309;
}

.warning .icon{
  color: #fbbf24;
}

.error{
  background-color: #fef2f2;
  color: #92400e;
}

.error .icon{
  color: #f87171;
}

.neutral{
  background-color: #eff6ff;
  color: #1c51b9;
}

.neutral .icon{
  color: #60a5fa;
}

section.banners{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.banner:hover{
  border: 1px solid;
}

.banner{
  flex-grow: 1;
  margin: 15px 10px;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.banner-line{
  display: flex;
  gap: 12px;
  font-weight: 500;
}

.banner p{
  padding: 8px 15px 0 34px;
}

.banner-line .icon{
  font-size: 1.25rem;
}

.card{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container:hover{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFB;
  text-align: center;
  padding: 0 35px;
  max-width: 385px;
  border-radius: 8px;
  margin: 10px;
}

.card-title{
  font-size: 1.125rem;
  padding-bottom: 20px;
  color: #111827;
}

.card-text{
  color: #6B7280;
  padding-bottom: 30px;
}

.card-container .icon{
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(-50%);
}

.testimonial-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #2545B8;
  height: 400px;
  flex-grow: 1;
  margin: 7em 0;
}

/* testimonial no pic */

.testimonial-withNoImg-container{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 400px;
  flex-grow: 1;
  margin: 7em 0;
  position: relative;
}

img.dot_pattern{
  position: absolute;
  top: 28%;
  right: 80%;
}

.testimonial-withNoImg-container .testimonial-body{
  display: flex;
  margin: 0 15px;
  justify-content: center;
  text-align: center;
  padding: 0;
  flex-wrap: wrap;
  z-index: 0;
}

.testimonial-withNoImg-container .testimonial-body p{
  color: #000;
}

.testimonial-withNoImg-container .testimonial-body .body-text::before{
  content: '"';
}

.testimonial-withNoImg-container .testimonial-body .body-text::after{
  content: '"';
}

.testimonial-withNoImg-container .testimonial-footer{
  display: flex;
  justify-content: center;
}

.testimonial-withNoImg-container .testimonial-footer .footer-name::after{
  content: '/';
  margin: 0 5px;
  color: #2e59f3;
}

.testimonial-withNoImg-container .testimonial-footer .footer-role{
  color: #6B7280;
}
/* ------------------ */

.testimonial-container img{
  width: 355px;
  object-fit: cover;
  object-position: 0 36%;
  transform: translate(3.5em,-0.01em);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.testimonial-container .testimonial-body{
  color: white;
  padding: 7em;
}


.testimonial-container .testimonial-body .icon{
  font-size: 35px;
  color:rgba(255, 255, 255, 0.25);
}

p.body-text{
  margin: 15px 0;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 25px 0;
}

.testimonial-container .testimonial-footer p{
  line-height: 30px;
} 
.footer-name{
  font-weight: bold;
}


@media (max-width: 1200px) {
  .testimonial-container{
    margin: 0 0 40px 0;
    height: 320px;
  }
  .testimonial-container img{
    width: 250px;
    height: auto;
    transform: translate(2em,-0.01em);
  }
  
  .testimonial-container .testimonial-body .icon{
    font-size: 25px;
  }

  .testimonial-container p.body-text{
    font-size: 1.1rem;
    line-height: 25px;
    padding: 25px 0;
  }

}

@media (max-width: 768px){
  section.banners{
    width: 500px;
  }

  .testimonial-container{
    margin-top: 10em;
    flex-wrap: wrap;
    height: auto;
  }
  
  .testimonial-container img{
    width: 344px;
    height: 206px;
    object-fit: cover;
    object-position: 0 35%;
    transform: translateY(-7em);
  }
  

  .testimonial-container .testimonial-body{
    color: white;
    margin-top: -25%;
  }
  
  .testimonial-container p.body-text{
    font-size: 1.3rem;
    line-height: 30px;
    padding: 25px 0;
  }
  
  .testimonial-container .testimonial-footer{
    margin-bottom: 30px;
  }

}
