:root{
  --primary-dark:#262626;
  --primary-dark-text: #c7c7c7;
  --primary-light:#fff;
  --primary-light-text:#6B7280;
  --bold-blue: #1E40AF;
  --bold-blue-text: #7EA6F2;
  --light-blue: #E0E7FF;
  --light-blue-text:#1C51B9;
  --bold-pick:#A9229B;
  --bold-pick-text: #F462E6;
  --light-pick: #FFF3FC;
  --light-pink-text: #C7369E;
  --bold-green:#47AA5D;
  --bold-green-text: #C1FFCF;
  --light-green: #E7FFF3;
  --light-green-text: #41A557;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: "Inter", serif;
}

section{
  margin-top: 30px;
}

h1, h2{
  font-family: "Permanent Marker", serif;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.badge{
  cursor: pointer;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
}

.square-badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  gap: 5px;
}

.pill-badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5px 0;
  gap: 5px;
}

.pill-badges span{
  border-radius: 30px;
}

.gray{
  background-color: #f3f4f6;
  color: #1f2937;
}
.red{
  background-color: #fee2e2;
  color: #991b1b;
}

.yellow{
  background-color: #fef3c7;
  color: #92400e;
}

.green{
  background-color: #d1fae5;
  color: #065f46;
}

.blue{
  background-color: #dbeafe;
  color: #1e40af;
}

.indigo{
  background-color: #e0e7ff;
  color: #3730a3;
}

.purple{
  background-color: #ede9fe;
  color: #5b21b6;
}

.pink{
  background-color: #fce7f3;
  color: #9d174d;
}

.success{
  background-color: #ecfdf5;
  color: #065f46;
}

.success .icon{
  color: #34d399;
}

.warning{
  background-color: #fffbeb;
  color: #b45309;
}

.warning .icon{
  color: #fbbf24;
}

.error{
  background-color: #fef2f2;
  color: #92400e;
}

.error .icon{
  color: #f87171;
}

.neutral{
  background-color: #eff6ff;
  color: #1c51b9;
}

.neutral .icon{
  color: #60a5fa;
}

section.banners{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.banner:hover{
  border: 1px solid;
}

.banner{
  flex-grow: 1;
  margin: 15px 10px;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.banner-line{
  display: flex;
  gap: 12px;
  font-weight: 500;
}

.banner p{
  padding: 8px 15px 0 34px;
}

.banner-line .icon{
  font-size: 1.25rem;
}

.card{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container:hover{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9FAFB;
  text-align: center;
  padding: 0 35px;
  max-width: 385px;
  border-radius: 8px;
  margin: 10px;
}

.card-title{
  font-size: 1.125rem;
  padding-bottom: 20px;
  color: #111827;
}

.card-text{
  color: #6B7280;
  padding-bottom: 30px;
}

.card-container .icon{
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(-50%);
}

section.testimonials h3{
  font-family: "Permanent Marker", serif;
  color: #5E5D5D;
  text-align: center;
}

.testimonial-container{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #2545B8;
  height: 400px;
  flex-grow: 1;
  margin: 2em 0 5em;
}

/* testimonial no pic */

.testimonial-withNoImg-container{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 400px;
  flex-grow: 1;
  margin: 1em 0;
  position: relative;
}

img.dot_pattern{
  position: absolute;
  top: 28%;
  right: 80%;
}

.testimonial-withNoImg-container .testimonial-body{
  display: flex;
  margin: 0 25px;
  text-align: center;
  flex-wrap: wrap;
  z-index: 0;
}

.testimonial-withNoImg-container .testimonial-body .body-text{
  padding: 50px 0 30px 0;
}

.testimonial-withNoImg-container .testimonial-body p{
  color: #000;
}

.testimonial-withNoImg-container .testimonial-body .body-text::before{
  content: '"';
}

.testimonial-withNoImg-container .testimonial-body .body-text::after{
  content: '"';
}

.testimonial-withNoImg-container .testimonial-footer{
  display: flex;
  justify-content: center;
}

.testimonial-withNoImg-container .testimonial-footer .footer-name::after{
  content: '/';
  margin: 0 5px;
  color: #2e59f3;
}

.testimonial-withNoImg-container .testimonial-footer .footer-role{
  color: #6B7280;
}
/* ------------------ */

.testimonial-container img{
  width: 355px;
  object-fit: cover;
  object-position: 0 36%;
  transform: translate(3.5em,-0.01em);
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.testimonial-container .testimonial-body{
  color: white;
  padding: 4em 5em 2em;
}


.testimonial-container .testimonial-body .icon{
  font-size: 35px;
  color:rgba(255, 255, 255, 0.25);
}

p.body-text{
  /* margin: 15px 0; */
  font-size: 1.5rem;
  color: #ffffff;
  /* padding: 25px 0; */
}

.testimonial-container .testimonial-footer p{
  line-height: 30px;
} 
.footer-name{
  font-weight: bold;
}


/* ------tooltip--------- */

section.tooltips{
  display: flex;
  gap: 100px;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /* margin-bottom: 20px; */
}

.tooltip{
  margin-bottom: 20px;
  background-color: var(--primary-dark);
  color: var(--primary-dark-text);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: .8s;
}

.tooltip-container{
  position: inherit;
  /* transform: translate(150px, -330px); */
  display: flex;
  /* justify-content: space-around; */
  gap: 15px;
  background-color: var(--primary-dark);
  color: var(--primary-dark-text);
  width: 600px;
  border-radius: 8px;
  padding: 18px;
  /* margin-bottom: 20px; */
}

.bold-blue{
  background-color: var(--bold-blue);
  color: var(--bold-blue-text);
}

.tooltip-container .icon{
  font-size: 1.7rem;
}

.tooltip-text{
  font-size: 1.2rem;
}

.tooltip-text .tooltip-title{
  color: #fff;
  font-weight: 300;
  padding-bottom: 6px;
}

.tooltip-text p{
  font-weight: 200;
}

.tooltip-container button{
  background:none;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}

.tooltip-text::after{
  content: "";
  position: absolute;
  transform: translateY(50%);
  border-width: 15px;
  border-style: solid;
  border-color: var(--bold-blue) transparent transparent transparent;
}

.tooltip:hover .tooltip-container{
  visibility: visible;
}

.pop-up{
  width: 385px;
  display: flex;
  gap: 12px;
  background-color: #ecfdf5;
  color: #047857;
  padding: 16px;
  border-radius: 8px;
  line-height: 24px;
  margin-bottom: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.popup-icon{
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .testimonial-container{
    height: 320px;
  }
  .testimonial-container img{
    width: 250px;
    height: auto;
    transform: translate(2em,-0.01em);
  }
  
  .testimonial-container .testimonial-body .icon{
    font-size: 25px;
  }

  .testimonial-container p.body-text{
    font-size: 1.1rem;
    line-height: 25px;
    padding: 25px 0;
  }

}


@media (max-width: 768px){
  section.banners{
    width: 500px;
  }

  .testimonial-container{
    margin-top: 10em;
    flex-wrap: wrap;
    height: auto;
  }
  
  .testimonial-container img{
    width: 344px;
    height: 206px;
    object-fit: cover;
    object-position: 0 35%;
    transform: translateY(-7em);
  }
  

  .testimonial-container .testimonial-body{
    color: white;
    margin-top: -25%;
  }
  
  .testimonial-container p.body-text{
    font-size: 1.3rem;
    line-height: 30px;
    padding: 25px 0;
  }
  
  .testimonial-container .testimonial-footer{
    margin-bottom: 30px;
  }

}
